<ng-container #welcome [ngSwitch]="currentTab">
	<ng-container *ngSwitchCase="0">
		<ng-container *ngIf="isLoggedIn">
			<h2><span style="font-weight: normal">Welcome back, {{role == 'Mentor' ? 'Master ' : ''}}</span><b>{{user}}</b>.</h2>
			<h3 style="font-weight: normal">&nbsp;&nbsp;&nbsp;&nbsp;The brotherhood could use your {{role == "Mentor" ? "mentorship" : "skills"}} today.</h3>
		</ng-container>
		<ng-container *ngIf="!isLoggedIn">
			<h2>Welcome, stranger.</h2>
			<h3 style="font-weight: normal">&nbsp;&nbsp;&nbsp;&nbsp;Please log in to continue.</h3>
		</ng-container>
		<app-statistics [statistics]="statistics"></app-statistics>
	</ng-container>
	<ng-container *ngSwitchCase="1">
		<ng-container *ngIf="!isLoggedIn">
			<ng-container *ngTemplateOutlet="citiesContent"></ng-container>
		</ng-container>
	</ng-container>
	<ng-container *ngSwitchCase="2">
		<p class="content">
			Our Brotherhood is strong of a diverse group of individuals, each with their own unique skills and talents.
			Each of these men and women are uniquely suited to help each other in their own way.
			We are a community of people who are willing to help each other, and we are always looking for new members to join us.
		</p>
	</ng-container>
	<ng-container *ngSwitchCase="3">
		<p class="content">
			There are those who believe that the world needs to be controlled.
			They believe that the only way to survive is to be strong and ruthless.
			They believe that the only way to be happy is to be powerful.
			They believe that the only way to be free is to be a slave to their own desires.
			They believe that the only way to be good is to be evil.
			They believe that the only way to be right is to be wrong.
			They believe that the only way to be happy is to be sad.
			They believe that the only way to be free is to be a slave to their own desires.
			They are wrong and we send them to Hades lol.
		</p>
	</ng-container>
	<ng-container *ngSwitchCase="4">
		<ng-container class="content" *ngTemplateOutlet="citiesContent"></ng-container>
	</ng-container>

	<ng-template #citiesContent>
		<p class="content">
			From Orient to Occident, the Brotherhood's reach knows no bounds. Standing strong in the shadows since immemorial times,
			our kind vows to heal and fortify the tissues that unite all men and women through the bond of peace, friendship, and freedom of choice and opportunity,
			while tasking itself to sever the chains that, tightening around societies, aim to enslave mankind through the lure of absolute control.
		</p>
	</ng-template>
</ng-container>
