<ng-container #welcome [ngSwitch]="currentTab">
	<ng-container *ngSwitchCase="0">
		<ng-container *ngIf="isLoggedIn">
			<h2><span style="font-weight: normal">Welcome back, {{role == 'Mentor' ? 'Master ' : ''}}</span><b>{{user}}</b>.</h2>
			<h3 style="font-weight: normal">&nbsp;&nbsp;&nbsp;&nbsp;The brotherhood could use your {{role == "Mentor" ? "mentorship" : "skills"}} today.</h3>
		</ng-container>
		<ng-container *ngIf="!isLoggedIn">
			<h2>Welcome, stranger.</h2>
			<h3 style="font-weight: normal">&nbsp;&nbsp;&nbsp;&nbsp;Please log in to continue.</h3>
		</ng-container>
		<app-statistics [statistics]="statistics"></app-statistics>
	</ng-container>
	<ng-container *ngSwitchCase="1">
		<ng-container *ngIf="!isLoggedIn">
			<ng-container *ngTemplateOutlet="citiesContent"></ng-container>
		</ng-container>
	</ng-container>
	<ng-container *ngSwitchCase="2">
		<p class="content">
			about brothers
		</p>
	</ng-container>
	<ng-container *ngSwitchCase="3">
		<p class="content">
			about targets
		</p>
	</ng-container>
	<ng-container *ngSwitchCase="4">
		<ng-container class="content" *ngTemplateOutlet="citiesContent"></ng-container>
	</ng-container>

	<ng-template #citiesContent>
		<p class="content">
			From Orient to Occident, the Brotherhood's reach knows no bounds. Standing strong in the shadows since immemorial times,
			our kind vows to heal and fortify the tissues that unite all men and women through the bond of peace, friendship, and freedom of choice and opportunity,
			while tasking itself to sever the chains that, tightening around societies, aim to enslave mankind through the lure of absolute control.
		</p>
	</ng-template>
</ng-container>
