<div class="card" matRipple [class.selected]="selected" (click)="select.next(model)">
	<ng-content class="card-icon"></ng-content>
	<img class="card-image" [src]="image" draggable="false" (error)="image = fallbackImage">
	<marquee #marquee class="card-title"
		   behavior="alternate" scrollDelay="200"
		   [scrollAmount]="marquee.scrollWidth > marquee.clientWidth + 10 ? 6 : 0"
		   [style.justifyContent]="marquee.scrollWidth > marquee.clientWidth + 10 ? 'inherit' : 'center'">
		{{title}}
	</marquee>
	<img *ngIf="overlay != ''" class="card-overlay" [src]="overlay" />
</div>
<button *ngIf="allowRemove; else spacer" class="card-delete" (click)="remove.next(model)" mat-fab color="warn">
	<mat-icon>remove</mat-icon>
</button>
<ng-template #spacer>
	<div style="height: 37px"></div>
</ng-template>
