<nav>
	<span>
		Browse&nbsp;
		<mat-button-toggle-group>
			<mat-button-toggle checked>
				<mat-icon>description</mat-icon> By name
			</mat-button-toggle>
			<mat-button-toggle>
				<mat-icon>location_city</mat-icon> By city
			</mat-button-toggle>
			<mat-button-toggle>
				<mat-icon>person_pin</mat-icon> By target
			</mat-button-toggle>
		</mat-button-toggle-group>
	</span>

	<span>
		<button mat-mini-fab color="primary" (click)="refresh.next()">
			<mat-icon>refresh</mat-icon>
		</button>
		<button *ngIf="canAdd" mat-mini-fab color="primary" (click)="add.next()">
			<mat-icon>add</mat-icon>
		</button>
	</span>
</nav>


<section class="card-layout" [@slideXAnimation]
	   *ngIf="model && model.length > 0; else emptyList">
	<app-card #card *ngFor="let contract of model"
		    [model]="contract" [canRemove]="canAdd"
		    [selected]="contract.id === selectedId"
		    (select)="select.next(contract); selectedId = contract.id!"
		    (remove)="remove.next(contract)"
		    [@inOutAnimation]></app-card>
</section>

<ng-template #emptyList>
	<div [@slideXAnimation]>
		<p>There are no contracts added. Add contracts to see them here.</p>
		<br />
	</div>
</ng-template>
