<nav>
	<button *ngIf="canAdd" mat-mini-fab color="primary" matTooltip="Add a contract" (click)="add.next()">
		<mat-icon>add</mat-icon>
	</button>
	<button mat-mini-fab color="primary" matTooltip="Refresh contracts" (click)="refresh.next()">
		<mat-icon>refresh</mat-icon>
	</button>
</nav>

<section class="card-layout" [@slide-animation] *ngIf="contracts && contracts.length > 0; else emptyList">
	<app-card #card *ngFor="let contract of contracts" [model]="contract" [allowRemove]="canAdd"
		    [title]="contract.codename" image="http://localhost:5001/images/{{contract.featuredContractId}}.webp"
		    [selected]="contract.id === selectedId" (select)="select.next(contract); selectedId = contract.id!"
		    (remove)="remove.next(contract)">
		<mat-icon class="card-icon"
			    matTooltip="This contract can be viewed by {{contract.isPublic ? 'everyone' : 'you only'}}."
			    matTooltipPosition="above">
			{{contract.isPublic ? "public" : "lock"}}
		</mat-icon>
	</app-card>
</section>

<ng-template #emptyList>
	<div style="text-align: center" [@zoom-animation]>
		<p>There are no contracts added. Add contracts to see them here.</p>
		<br />
	</div>
</ng-template>
