<img src="https://localhost:5001/images/targets/lg/{{target.id}}.webp?id={{target.imageCacheId}}" alt="Image de {{target.firstName}}"
     onerror="this.src = '/assets/blank-profile.svg'">
<div class="heading">
	<h3>{{target.firstName}} {{target.lastName}}</h3>
	<span>{{target.title}}</span>
</div>

<button *ngIf="allowEdit" class="overflow-menu-btn" mat-mini-fab color="primary" [matMenuTriggerFor]="overflowMenu" matTooltip="Target options">
	<mat-icon>more_horiz</mat-icon>
</button>
<mat-menu #overflowMenu="matMenu" xPosition="before">
	<button mat-menu-item (click)="edit.emit()">
		<mat-icon>edit</mat-icon>Edit details
	</button>
	<button mat-menu-item (click)="setAsCover.emit()">
		<mat-icon>insert_photo</mat-icon>Set as contract cover
	</button>
	<button mat-menu-item (click)="remove.emit()">
		<mat-icon>remove_circle</mat-icon>Remove from contract
	</button>
	<button mat-menu-item (click)="delete.emit()">
		<mat-icon>how_to_reg</mat-icon>Mark as eliminated
	</button>
</mat-menu>
