<img src="https://localhost:5001/images/targets/lg/{{target.id}}.webp?id={{target.imageCacheId}}" alt="Image de {{target.firstName}}"
onerror="this.src = '/assets/blank-profile.svg'">
<h3>{{target.firstName}} {{target.lastName}}<br/><span style="font-weight: normal;font-size: 0.85em">{{target.title}}</span></h3>

<button class="overflow-menu-btn" mat-mini-fab color="primary" [matMenuTriggerFor]="overflowMenu">
	<mat-icon>more_horiz</mat-icon>
</button>
<mat-menu #overflowMenu="matMenu" xPosition="before">
	<button mat-menu-item (click)="setAsCover.emit()">
		<mat-icon>insert_photo</mat-icon>Set target as contract cover
	</button>
	<button mat-menu-item>
		<mat-icon>edit</mat-icon>Edit target
	</button>
	<button mat-menu-item>
		<mat-icon>remove_circle</mat-icon>Remove target from contract
	</button>
	<button mat-menu-item>
		<mat-icon>how_to_reg</mat-icon>Mark target as eliminated
	</button>
</mat-menu>
