<nav>
	<button mat-mini-fab color="primary" matTooltip="Add a target" (click)="add.emit()">
		<mat-icon>add</mat-icon>
	</button>
	<button mat-mini-fab color="primary" matTooltip="Refresh targets" (click)="refresh.emit()">
		<mat-icon>refresh</mat-icon>
	</button>
</nav>

<section class="card-layout">
	<app-card *ngFor="let target of targets"
		    [model]="target" [allowRemove]="true"
		    [title]="target.firstName + ' ' + target.lastName"
		    image="https://localhost:5001/images/{{target.id}}.webp"></app-card>
</section>
