<nav>
	<button mat-mini-fab color="primary" matTooltip="Add a target" (click)="add.emit()">
		<mat-icon>add</mat-icon>
	</button>
	<button mat-mini-fab color="primary" matTooltip="Refresh targets" (click)="refresh.emit()">
		<mat-icon>refresh</mat-icon>
	</button>
</nav>

<section class="card-layout">
	<app-card *ngFor="let target of targets"
		    [model]="target" [allowRemove]="true"
		    [title]="target.firstName + ' ' + target.lastName"
		    (select)="select.emit(target); selectedId = target.id!"
		    [selected]="target.id === selectedId"
		    image="https://localhost:5001/images/targets/{{target.imageId}}.webp"></app-card>
</section>
