<nav>
	<button *ngIf="allowEdit" mat-mini-fab color="primary" matTooltip="Add a target" (click)="add.emit()">
		<mat-icon>person_add</mat-icon>
	</button>
	<button mat-mini-fab color="primary" matTooltip="Refresh targets" (click)="refresh.emit()">
		<mat-icon>refresh</mat-icon>
	</button>
</nav>

<section class="card-layout">
	<app-card *ngFor="let target of targets"
		    [model]="target" [allowRemove]="true"
		    [title]="target.firstName + ' ' + target.lastName"
		    (select)="select.emit(target); selectedId = target.id!"
		    [selected]="target.id === selectedId"
		    [allowRemove]="allowEdit"
		    (remove)="removeContractTarget($event)"
		    image="https://localhost:5001/images/targets/sm/{{target.id}}.webp?id={{target.imageCacheId}}"></app-card>
</section>
