.upload-wrapper
	button
		position: absolute
		scale: 0.75
		transform: translate(-26px, -10px)

	input
		position: relative
		z-index: -1

.upload-preview
	margin-top: 25px
	margin-bottom: 25px
	text-align: center

	img
		width: 100px
		height: 100px
		object-fit: cover

		border-radius: 10px
		box-shadow: 0 4px 5px #9086864f
