header
	display: flex
	justify-content: space-between
	align-items: center

	.auth
		display: flex
		flex-direction: row
		align-items: center
		gap: 10px

	small
		display: flex
		align-items: center
		text-align: right !important

		.mat-icon
			scale: 0.7

.mat-tab-group
	height: max-content

/* Modal dialogs */
.form-panel
	width: calc(100vw - 20px)
	height: calc(100vh - 20px)
	margin: 10px

	position: fixed
	left: 0
	top: 0
	z-index: 1

	outline: solid 10px #f5f2f2
	box-shadow: 0 0 8px #817575 inset
	backdrop-filter: blur(50px)

	.form-close
		position: absolute
		right: 20px
		top: 20px

	.cutie
		position: absolute
		left: 50%
		top: 50%
		transform: translate(-50%, -50%)
		z-index: -1

		font-size: 8px
		text-align: center

		img
			width: 50px
			height: 50px
			object-position: cover

.tab-label
	position: absolute
	padding: 50px

	display: flex
	align-items: center
	gap: 5px

.legal
	text-align: right

#breakingNewsLegend
	position: fixed
	left: 22px
	bottom: 52px
	padding: 10px
	z-index: 4
	background: #bb988c57
	border-radius: 10px
	backdrop-filter: blur(25px)
	border: solid 2px #94786e42
	display: flex
	align-items: center
	box-shadow: 0 4px 8px #00000018

#breakingNews
	position: fixed
	width: 100vw
	left: 0
	bottom: 0
	padding: 20px

	font-size: 1.2em
	z-index: 3

	backdrop-filter: blur(25px)
	background-color: #d239001a
	border-top: solid 2px #ff450045
	box-shadow: 0 -4px 10px #80808054
	font-family: Roboto

@media screen and (max-width: 550px)
	header
		flex-direction: column
		justify-content: center
