<!-- HEADER -->
<header>
	<h1>IntelliBrotherhood&trade; Contract Manager 2022</h1>
	<div class="auth">
		<button *ngIf="!isLoggedIn" mat-raised-button color="primary" (click)="state = AppState.Login">
			<mat-icon>account_circle</mat-icon>&nbsp;
			<mat-label>Log in</mat-label>
		</button>
		<button *ngIf="!isLoggedIn" mat-stroked-button color="primary" (click)="state = AppState.Register">
			<mat-icon>account_circle</mat-icon>&nbsp;
			<mat-label>Sign up</mat-label>
		</button>
		<mat-hint *ngIf="isLoggedIn" class="user"><small>Logged in as&nbsp;<b>{{user}}</b><mat-icon matTooltip="{{role?.toUpperCase()}} access level">info</mat-icon></small></mat-hint>
		<button *ngIf="isLoggedIn" mat-raised-button color="primary" (click)="logout()">
			<mat-icon>vpn_key</mat-icon>&nbsp;
			<mat-label>Log out</mat-label>
		</button>
	</div>
</header>

<br />

<main>
	<!-- PRIMARY CONTENT -->
	<mat-tab-group mat-align-tabs="center" [selectedIndex]="currentTab" (selectedIndexChange)="currentTab = $event" [@form-animation]>
		<mat-tab>
			<ng-template mat-tab-label>
				<span class="tab-label" (click)="showUserContracts = false; refreshContracts()">
					<mat-icon>public</mat-icon>&nbsp;Public Contracts
				</span>
			</ng-template>
			<app-contract-list [contracts]="contracts" [canAdd]="isLoggedIn" (refresh)="refreshContracts()"
						 (select)="selectContract($event)" (add)="state = AppState.CreateContract;refreshCities()"
						 (remove)="nukeContract($event)"></app-contract-list>
		</mat-tab>
		<mat-tab *ngIf="isLoggedIn">
			<ng-template mat-tab-label>
				<span class="tab-label" (click)="showUserContracts = true; refreshContracts()">
					<mat-icon>lock</mat-icon>&nbsp;My Contracts
				</span>
			</ng-template>
			<app-contract-list [contracts]="contracts" [canAdd]="isLoggedIn" (refresh)="refreshContracts()"
						 (select)="selectContract($event)" (add)="state = AppState.CreateContract;refreshCities()"
						 (remove)="nukeContract($event)"></app-contract-list>
		</mat-tab>
		<mat-tab>
			<ng-template mat-tab-label>
				<span class="tab-label">
					<mat-icon>person_outline</mat-icon>&nbsp;Targets
				</span>
			</ng-template>
			<app-contract-target-list [targets]="targets" [allowEdit]="isLoggedIn"
							  (add)="state = AppState.CreateContractTarget"
							  (refresh)="refreshContractTargets()"
							  (select)="selectContractTarget($event)"
							  (remove)="state = AppState.RemoveDeleteContractTarget"></app-contract-target-list>
		</mat-tab>
		<mat-tab label="Cities">
			<ng-template mat-tab-label>
				<span class="tab-label">
					<mat-icon>location_city</mat-icon>&nbsp;Cities
				</span>
			</ng-template>
			<app-city-list [cities]="cities" [allowEdit]="false" (refresh)="refreshCities()"></app-city-list>
		</mat-tab>
	</mat-tab-group>

	<!-- SECONDARY CONTENT -->
	<app-contract-details *ngIf="selectedContract"
				    [contract]="selectedContract" [allowEdit]="isLoggedIn"
				    (share)="state = AppState.ShareContract"
				    (edit)="state = AppState.EditContract"
				    (addTarget)="state = AppState.AddContractTarget"
				    (createTarget)="assignedContract = selectedContract;state = AppState.CreateContractTarget"
				    (editTarget)="selectContractTarget($event);state = AppState.UpdateContractTarget"
				    (deleteTarget)="selectContractTarget($event);state = AppState.RemoveDeleteContractTarget"
				    (remove)="nukeContract(selectedContract)"
				    (refresh)="refreshContractTargets();refreshContracts();selectContract(selectedContract!)"
				    (setCover)="selectedContract = $event; selectContract(selectedContract)"></app-contract-details>
</main>

<!-- MODAL DIALOGS -->
<section class="form-panel" *ngIf="state != AppState.None" [@form-animation]>
	<button class="form-close" mat-mini-fab color="primary" (click)="state = AppState.None">
		<mat-icon>close</mat-icon>
	</button>

	<ng-container [ngSwitch]="state">
		<app-form-login *ngSwitchCase="AppState.Login" (login)="refreshContracts()"></app-form-login>
		<app-form-register *ngSwitchCase="AppState.Register"></app-form-register>
		<app-form-contract-create *ngSwitchCase="AppState.CreateContract" [cities]="cities" (create)="refreshContracts()"></app-form-contract-create>
		<app-form-contract-update *ngSwitchCase="AppState.EditContract" [cities]="cities" [contract]="selectedContract!" (refresh)="refreshContracts()"></app-form-contract-update>
		<app-form-contract-share *ngSwitchCase="AppState.ShareContract" [contract]="selectedContract"></app-form-contract-share>
		<app-form-contract-target-add *ngSwitchCase="AppState.AddContractTarget" [contract]="selectedContract" [contractTargets]="targets" (refresh)="state = AppState.None;refreshContracts();selectContract(selectedContract!)"></app-form-contract-target-add>
		<app-form-contract-target-create *ngSwitchCase="AppState.CreateContractTarget" [assignTo]="assignedContract" (create)="state = AppState.None;refreshContracts();selectContract(selectedContract!);assignedContract = undefined"></app-form-contract-target-create>
		<app-form-contract-target-update *ngSwitchCase="AppState.UpdateContractTarget" [target]="selectedTarget!" (refresh)="refreshContractTargets()"></app-form-contract-target-update>
		<app-form-contract-target-nuke *ngSwitchCase="AppState.RemoveDeleteContractTarget" [target]="selectedTarget!" (refresh)="state = AppState.None;refreshContractTargets();selectContract(selectedContract!)"></app-form-contract-target-nuke>
	</ng-container>

	<div class="cutie">
		<img src="https://media.discordapp.net/attachments/1030541948244729858/1036410640690073762/C39E0365-7EAD-4B6B-AA57-626392FD5CDC.gif" />
		<p>You shouldn't be seeing this.<br />Oh well. Here's a pwoto.</p>
	</div>
</section>

<br />

<!-- FOOTER -->
<footer class="legal">
	<mat-divider></mat-divider>
	<p><small>&copy; 2022 JuliePro LLC - v1.4</small></p>
</footer>
