<header class="container">
	<div class="row">
		<div class="col-auto">📷 J'ai yoink le template de Maxime</div>
		<div class="col">
			<!-- eheheh 🤓 -->
		</div>
		<div class="col-auto">📝 Inscription</div>
		<div class="col-auto">🔌 Connexion</div>
		<div class="col-auto">🚪 Déconnexion</div>
	</div>
</header>

<main class="container">
	<div class="row galleries">

		<!-- GALERIES PUBLIQUES -->
		<div class="col-12 col-lg-6">
			<div class="left">
				<div class="close">🔄</div>
				<h2>👥📷 Galeries publiques</h2>

				<div class="row">
					<div *ngFor="let city of cities" class="col-6 col-lg-4 gallery">
						<div>
							<div class="title">{{city.name}}</div>
							<img src="assets/images/placeholder.png" alt="Image de la ville {{city.name}}" class="img-fluid">
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- MES GALERIES -->
		<div class="col-12 col-lg-6">
			<div class="right">
				<div class="close">🔄</div>
				<h2>👤📷 Mes galeries</h2>

				<div class="row">
					<div class="col-6 col-lg-4 gallery newGallery">
						<div>
							<img src="assets/images/new.png" alt="Nouvelle galerie" class="img-fluid">
						</div>
					</div>
					<div class="col-6 col-lg-4 gallery">
						<div>
							<div class="title">Titre</div>
							<div class="close">❌</div>
							<div class="owner">➕👤</div>
							<img src="assets/images/placeholder.png" alt="CHANGE-MOI" class="img-fluid">
						</div>
					</div>
					<div class="col-6 col-lg-4 gallery">
						<div>
							<div class="title">Titre</div>
							<div class="close">❌</div>
							<div class="owner">➕👤</div>
							<img src="assets/images/placeholder.png" alt="CHANGE-MOI" class="img-fluid">
						</div>
					</div>
					<div class="col-6 col-lg-4 gallery">
						<div>
							<div class="title">Titre</div>
							<div class="close">❌</div>
							<div class="owner">➕👤</div>
							<img src="assets/images/placeholder.png" alt="CHANGE-MOI" class="img-fluid">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

<div class="container">
	<h4 class="aSupprimer">
		Personnellement je fais apparaître les formulaires ci-dessous en overlay quand on clique sur
		Connexion, Inscription, Supprimer une galerie ou Ajouter un propriétaire, mais vous en faites ce
		que vous voulez 😊
	</h4>
	<div class="row">
		<!-- CONNEXION -->
		<div class="box col-auto">
			<h3>Connexion</h3>
			<form>
				Nom d'utilisateur<br>
				<input type="text" name="username"><br>
				Mot de passe<br>
				<input type="password" name="password"><br>
				<button type="submit">Se connecter</button>
			</form>
		</div>

		<!-- INSCRIPTION -->
		<div class="box col-auto">
			<h3>Inscription</h3>
			<form>
				Nom d'utilisateur<br>
				<input type="text" name="username"><br>
				Adresse courriel<br>
				<input type="text" name="email"><br>
				Mot de passe<br>
				<input type="password" name="password"><br>
				Confirmez le mot de passe<br>
				<input type="password" name="passwordConfirm"><br>
				<button type="submit">S'inscrire</button>
			</form>
		</div>

		<!-- NOUVELLE GALERIE -->
		<div class="box col-auto">
			<h3>Nouvelle galerie</h3>
			<form>
				Titre<br>
				<input #text (change)="city.name = text.value" type="text" name="name"><br>
				Publique&nbsp;
				<input #visibility (change)="city.isPublic = visibility.checked" type="checkbox" name="isPublic"><br>
				<button type="submit" (click)="saveCity()">Créer la galerie</button>
			</form>
		</div>

		<!-- NOUVELLE PROPRIÉTAIRE -->
		<div class="box col-auto">
			<h3>Ajouter un propriétaire</h3>
			<form>
				Nom d'utilisateur<br>
				<input type="text" name="name"><br>
				<button type="submit">Ajouter l'utilisateur</button>

			</form>
		</div>
	</div>
</div>
