header
	display: flex
	justify-content: space-between
	align-items: center

	.auth
		display: flex
		flex-direction: row
		align-items: center
		gap: 10px

	small
		display: flex
		align-items: center
		text-align: right !important

		.mat-icon
			scale: 0.7

.mat-tab-group
	height: max-content

/* Modal dialogs */
.form-panel
	width: calc(100vw - 20px)
	height: calc(100vh - 20px)
	margin: 10px

	position: fixed
	left: 0
	top: 0
	z-index: 1

	outline: solid 10px #f5f2f2
	box-shadow: 0 0 8px #817575 inset
	backdrop-filter: blur(50px)

	.form-close
		position: absolute
		right: 20px
		top: 20px

	.cutie
		position: absolute
		left: 50%
		top: 50%
		transform: translate(-50%, -50%)
		z-index: -1

		font-size: 8px
		text-align: center

		img
			width: 50px
			height: 50px
			object-position: cover

.fullscreen-photo
	max-height: 90%

	position: absolute
	left: 50%
	top: 50%
	transform: translate(-50%, -50%)
	object-fit: cover

	border: solid 3px #e20505be
	border-radius: 5px
	background-color: #fefefe
	box-shadow: 0 5px 5px 1px rgb(0 0 0 / 18%)

.tab-label
	position: absolute
	padding: 50px

	display: flex
	align-items: center
	gap: 5px

	transition: transform 0.28s cubic-bezier(0.4, 0, 0.2, 1)

	&:hover
		transform: translateY(-2px)
		text-shadow: 0 5px 5px #4d4b4b4e

.legal
	text-align: right

.overlay
	height: 100%

	position: fixed
	left: 50%
	top: 0
	transform: translate(-50%, 0)

	opacity: 0.1
	filter: blur(10px) grayscale(0.3)

	object-fit: cover

.mat-spinner
	position: fixed
	left: 50%
	top: 50%
	transform: translate(-50%, -50%)

	z-index: 10
	filter: drop-shadow(0 0 5px #0000004d)

@media screen and (max-width: 550px)
	header
		flex-direction: column
		justify-content: center
