<header>
	<h1>IntelliBrotherhood&trade; Contract Manager 2022</h1>
	<div class="auth">
		<button *ngIf="!app.isLoggedIn" mat-raised-button color="primary" (click)="app.state = AppState.Login">
			<mat-icon>account_circle</mat-icon>&nbsp;
			<mat-label>Log in</mat-label>
		</button>
		<button *ngIf="!app.isLoggedIn" mat-stroked-button color="primary" (click)="app.state = AppState.Register">
			<mat-icon>account_circle</mat-icon>&nbsp;
			<mat-label>Sign up</mat-label>
		</button>
		<button *ngIf="app.isLoggedIn" mat-raised-button color="primary" (click)="logout()">
			<mat-icon>vpn_key</mat-icon>&nbsp;
			<mat-label>Log out</mat-label>
		</button>
	</div>
</header>

<br />

<mat-tab-group mat-align-tabs="center" [@form-animation]>
	<mat-tab>
		<ng-template mat-tab-label>
			<span class="tab-label" (click)="showUserContracts = false; refreshContracts()">
				<mat-icon>public</mat-icon>&nbsp;Public Contracts
			</span>
		</ng-template>
		<app-contract-list [contracts]="contracts" [canAdd]="app.isLoggedIn" (refresh)="refreshContracts()"
					 (select)="selectContract($event)" (add)="app.state = AppState.CreateContract;refreshCities()"
					 (remove)="nukeContract($event)"></app-contract-list>
	</mat-tab>
	<mat-tab>
		<ng-template mat-tab-label>
			<span class="tab-label" (click)="showUserContracts = true; refreshContracts()">
				<mat-icon>lock</mat-icon>&nbsp;My Contracts
			</span>
		</ng-template>
		<app-contract-list [contracts]="contracts" [canAdd]="app.isLoggedIn" (refresh)="refreshContracts()"
					 (select)="selectContract($event)" (add)="app.state = AppState.CreateContract;refreshCities()"
					 (remove)="nukeContract($event)"></app-contract-list>
	</mat-tab>
	<mat-tab>
		<ng-template mat-tab-label>
			<span class="tab-label">
				<mat-icon>person_outline</mat-icon>&nbsp;Targets
			</span>
		</ng-template>
		<app-contract-target-list [targets]="targets"></app-contract-target-list>
	</mat-tab>
	<mat-tab label="Cities">
		<ng-template mat-tab-label>
			<mat-icon>location_city</mat-icon>
			<span>Cities</span>
		</ng-template>
		<app-city-list [cities]="cities"></app-city-list>
	</mat-tab>
</mat-tab-group>

<app-contract-details *ngIf="selectedContract" [model]="selectedContract" (share)="app.state = AppState.ShareContract"
			    (addTarget)="app.state = AppState.AddContractTarget"></app-contract-details>

<div class="legal">
	<br />
	<mat-divider></mat-divider>
	<p><small>&copy; 2022 JuliePro LLC - v1.4</small></p>
</div>

<section class="form-panel" *ngIf="app.state != AppState.None" [@form-animation]>
	<button class="form-close" mat-mini-fab color="primary" (click)="app.state = AppState.None">
		<mat-icon>close</mat-icon>
	</button>

	<ng-container [ngSwitch]="app.state">
		<app-form-login *ngSwitchCase="AppState.Login" (login)="refreshContracts()"></app-form-login>
		<app-form-register *ngSwitchCase="AppState.Register"></app-form-register>
		<app-form-register *ngSwitchCase="AppState.Register"></app-form-register>
		<app-form-contract-upsert *ngSwitchCase="AppState.CreateContract" [cities]="cities" (create)="refreshContracts()"></app-form-contract-upsert>
		<app-form-contract-share *ngSwitchCase="AppState.ShareContract" [contract]="selectedContract"></app-form-contract-share>
	</ng-container>



	<fieldset *ngIf="app.state == AppState.AddContractTarget">
		<legend>Add a target to {{selectedContract?.codename}}</legend>
		<mat-form-field>
			<mat-label>Target</mat-label>
			<mat-select #addContractTarget placeholder="Choose a target...">
				<mat-option *ngFor="let target of targets" [value]="target">
					<mat-icon [style.border-radius.px]=50>add</mat-icon>
					{{ target.firstName }} {{target.lastName}}
				</mat-option>
			</mat-select>
		</mat-form-field>
		<br />
		<button mat-raised-button color="primary" (click)="addTargetToContract(addContractTarget.value)">
			<mat-icon>check</mat-icon>
			Add target
		</button>
	</fieldset>

	<fieldset *ngIf="app.state == AppState.EditContractTarget">
		<legend>Edit target {{selectedTarget?.firstName}} {{selectedTarget?.lastName}}</legend>
		<mat-form-field>
			<mat-label>First name</mat-label>
			<input #addContractName matInput type="text" placeholder="Enter contract name..." />
			<mat-hint>You will be able to assign assassins to the contract.</mat-hint>
		</mat-form-field>
		<mat-form-field>
			<mat-label>First name</mat-label>
			<input #addContractName matInput type="text" placeholder="Enter contract name..." />
			<mat-hint>You will be able to assign assassins to the contract.</mat-hint>
		</mat-form-field>
		<br />
		<button mat-raised-button color="primary">
			<mat-icon>check</mat-icon>
			Add target
		</button>
	</fieldset>
</section>
