<nav>
	<button *ngIf="allowEdit" mat-mini-fab color="primary" matTooltip="Add user" (click)="add.emit()">
		<mat-icon>add_user</mat-icon>
	</button>
	<button mat-mini-fab color="primary" matTooltip="Refresh users" (click)="refresh.emit()">
		<mat-icon>refresh</mat-icon>
	</button>
</nav>


<section class="card-layout">
	<app-card #card *ngFor="let user of users" [model]="user" [allowRemove]="allowEdit"
		    [title]="user.username!" image="https://localhost:5001/images/users/lg/{{user.id}}.webp"
		    [overlay]="user.role == 'Mentor' ? '/assets/favicon.webp' : ''"
		    (remove)="remove.emit(user)"></app-card>
</section>

<br />
