<nav>
	<h2>{{contract?.codename}}</h2>

	<span>
		<button *ngIf="allowEdit" mat-mini-fab color="primary" matTooltip="Add target to contract" [matMenuTriggerFor]="addMenu">
			<mat-icon>person_add</mat-icon>
		</button>
		<button *ngIf="allowEdit" mat-mini-fab color="primary" [matMenuTriggerFor]="overflowMenu" matTooltip="More options">
			<mat-icon>more_horiz</mat-icon>
		</button>

		<mat-menu #addMenu="matMenu" xPosition="before">
			<button mat-menu-item (click)="createTarget.emit()">
				<mat-icon>person_add</mat-icon>Create new target
			</button>
			<button mat-menu-item (click)="addTarget.emit()">
				<mat-icon>people</mat-icon>Add existing target
			</button>
		</mat-menu>
		<mat-menu #overflowMenu="matMenu" xPosition="before">
			<button mat-menu-item (click)="edit.emit()">
				<mat-icon>edit</mat-icon>Edit contract
			</button>
			<button mat-menu-item (click)="share.emit()">
				<mat-icon>group_add</mat-icon>Request assassin as backup
			</button>
			<button mat-menu-item (click)="remove.emit()">
				<mat-icon>cancel</mat-icon>End contract
			</button>
		</mat-menu>
	</span>
</nav>
<p>{{contract?.briefing ?? "There is no description for this contract."}}</p>

<br />
<mat-divider></mat-divider>
<br />


<section>
	<owl-carousel-o class="carousel" *ngIf="contract?.targets!.length > 0; else noTarget" [options]="carouselOptions">
		<ng-container *ngFor="let target of contract?.targets">
			<ng-template carouselSlide>
				<app-contract-target-details class="carousel-item" matRipple
								     [title]="target.firstName"
								     [target]="target"
								     [allowEdit]="allowEdit"
								     (edit)="editTarget.emit(target)"
								     (remove)="removeTarget(target)"
								     (delete)="deleteTarget.emit(target)"
								     (setAsCover)="setContractCover(target)"></app-contract-target-details>
			</ng-template>
		</ng-container>
	</owl-carousel-o>
	<ng-template #noTarget>
		<p><em>There are no targets in this contract.</em></p>
	</ng-template>
</section>
