<mat-divider></mat-divider>

<h2>{{model?.codename}}</h2>
<p>{{model?.briefing ?? "There is no description for this contract."}}</p>

<br />

<button mat-mini-fab color="primary" [matMenuTriggerFor]="overflowMenu">
	<mat-icon>more_horiz</mat-icon>
</button>
<mat-menu #overflowMenu="matMenu">
	<button mat-menu-item *ngIf="!model?.isPublic" (click)="share.next()"><mat-icon>supervisor_account</mat-icon>Request assassin as backup</button>
	<button mat-menu-item><mat-icon>exit_to_app</mat-icon>Add target to contract</button>
	<button mat-menu-item><mat-icon>exit_to_app</mat-icon>Cancel all missions</button>
</mat-menu>

<section class="carousel" *ngIf="model?.targets && model?.targets?.length! > 0; else noTarget">
	<app-contract-target-details class="carousel-item" *ngFor="let target of model?.targets" [target]="target"></app-contract-target-details>
</section>
<ng-template #noTarget>
	<p><em>There are no targets in this contract.</em></p>
</ng-template>
