<mat-button-toggle-group appearance="legacy">
	<mat-button-toggle>Show all</mat-button-toggle>
	<mat-button-toggle>Group by city</mat-button-toggle>
</mat-button-toggle-group>
<nav>
	<button mat-mini-fab color="primary" (click)="refresh.next()">
		<mat-icon>refresh</mat-icon>
	</button>
	<button *ngIf="canAdd" mat-mini-fab color="primary" (click)="add.next()">
		<mat-icon>add</mat-icon>
	</button>
</nav>


<section class="card-layout" [@slideXAnimation]
	   *ngIf="model && model.length > 0; else emptyList">
	<app-card #card *ngFor="let city of model"
		    [model]="city" [canRemove]="canAdd"
		    [selected]="city.id === selectedId"
		    (select)="select.next(city); selectedId = city.id!"
		    (remove)="remove.next(city)"
		    [@inOutAnimation]></app-card>
</section>

<ng-template #emptyList>
	<div [@slideXAnimation]>
		<p>There are no cities added. Add cities to see them here.</p>
		<br />
	</div>
</ng-template>
