<nav>
	<button mat-mini-fab color="primary" (click)="refresh.next()">
		<mat-icon>refresh</mat-icon>
	</button>
	<button *ngIf="canAdd" mat-mini-fab color="primary" (click)="add.next()">
		<mat-icon>add</mat-icon>
	</button>
</nav>

<section class="card-layout" [@inOutAnimation]
	   *ngIf="model.length > 0; else emptyList">
	<app-card #card *ngFor="let city of model"
		    [model]="city" [canRemove]="canAdd"
		    (select)="select.next(city)"
		    (remove)="remove.next(city)"
		    [@inOutAnimation]></app-card>
</section>

<ng-template #emptyList>
	<p>There are no cities added. Add cities to see them here.</p>
	<br />
</ng-template>
