@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel'
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default'

html
	background-image: url(./assets/background.jpg)
	background-size: cover
	background-position: center top
	height: auto

body
	height: auto
	min-height: calc(100vh - 216px)
	padding: 100px

	outline: 3px solid red
	outline-offset: -25px
	outline-style: dotted
	box-shadow: 0 0 5px 10px #78798380 inset
	user-select: none

	font-family: 'Roboto', sans-serif
	scrollbar-width: none

body::-webkit-scrollbar
	display: none

.card-icon
	position: absolute
	top: 0
	left: 0
	color: white
	margin: 10px
	filter: drop-shadow(0 0 10px black)

.snackbar
	min-width: max-content !important
	white-space: pre-wrap !important

.snackbar-error
	color: #eee !important
	background-color: #6c0707aa !important
	backdrop-filter: blur(25px) !important
	font-weight: 500

	.mat-simple-snackbar-action
		color: white !important

.mat-tab-body, .mat-tab-body-content
	overflow: hidden !important
