<fieldset>
	<legend>{{target ? "Edit" : "Create"}} target {{target?.firstName}} {{target?.lastName}}</legend>

	<mat-form-field>
		<mat-label>First name</mat-label>
		<input [(ngModel)]="target?.firstName ?? firstName" matInput type="text"
			placeholder="Enter contract name..." />
	</mat-form-field>
	<mat-form-field>
		<mat-label>Last name</mat-label>
		<input [(ngModel)]="target?.lastName ?? lastName" matInput type="text"
			placeholder="Enter contract name..." />
	</mat-form-field>
	<div class="upload-wrapper">
		<button class="upload" (click)="file.click()" mat-raised-button color="primary">
			<mat-icon>upload</mat-icon>&nbsp;Choose picture
		</button>
		<input #file type="file" accept="image/*" (change)="preview.src = URL.createObjectURL(file!.files![0])" />
	</div>

	<mat-hint class="upload-preview">
		<img #preview src="https://localhost:5001/images/{{target?.id}}.webp" (error)="preview.src = 'https://localhost:5001/images/default.png'" alt="Picture preview of {{target?.firstName}} {{target?.lastName}}" />
		<br />
		<small>Picture preview</small>
	</mat-hint>

	<button mat-raised-button color="primary" (click)="target ? updateContractTarget(file!.files![0]) : createContractTarget(file!.files![0])">
		<mat-icon>check</mat-icon>
		{{target ? "Apply changes" : "Create target"}}
	</button>
</fieldset>
